@media (min-width : 400px){
    body{
        background-color: rgb(40,60,80) !important;
    }
}
@media (max-width : 800px){
    h1{
        text-align: center;
    }
}
@media (orientation: landscape){
    article{
        max-width:50ch;
    }
}
@media (orientation: portrait){
    h1{
        max-width: 200px;
        background-color: yellow;
    }
}

@media print{
    p{
        font-family: serif;
    }
}
@media (color){
    h1,body{
        background-color: #ddd;
        color:#111;
    }
}
@media screen and (hover: none) {
    a {
      background-color: #212;
      padding: 2px 5px;
    }
}
@media screen and (min-width: 800px) and (max-width: 899px) {
    img {
      display: none;
    }
}
@media screen and (min-width: 200px) and (max-width: 400px) {
    img {
      height: 400px;
      object-fit: cover;
    }
}
@media screen and (min-resolution: 2dppx) {
    article {
      background-color: #667;
    }
}  
